<html ng-app="leonApp">
<head>
    <title>Chat Demo</title>
	<leon-scripts/>
    <script src="app.client.js" type="text/javascript"></script>
	<link rel="stylesheet" href="style.css" />
</head>

<body ng-controller="ChatCtrl">
<div>
    <div id="header">
	    <span>Chat</span>
    </div>

    <hr />

	<div class="form_row">
		<span class="label">Your Name</span>
		<input type="text" ng-model="user" />
	</div>

	<div class="form_row">
		<div class="label">Your Message</div>
		<input id="message" type="text" ng-model="message" />
		<a id="send" href="#" ng-click="send()">Send!</a>
	</div>

    <hr />

	Messages:
	<br/>
	<div ng-repeat="msg in messages">
		{{msg.time}} {{msg.user}} - {{msg.message}}
	</div>

</div>
</body>
</html>
