# SBT
target
lib_managed
src_managed
boot
test/project/plugins/project
local_glassfish.properties
.history

# Maven
target

# Mac
.DS_Store

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ
.idea
*.iml
*.ipr
*.iws
out

# TextMate
*.tmproj

# Pax Runner
runner

# Sphinx
_build

# Various file system browser
.directory


