.virtualenv
.webenv
.idea
*.pyc
__pycache__
.coverage
.cache
.tox
opendata/webui/app/components
opendata/webui/.sass-cache
opendata/webui/.tmp
opendata/webui/dist
opendata/webui/node_modules
*.egg-info
build
dist
doc/_build