<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:j2ee="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/j2ee/web-app_3.0.xsd">

    <filter>
        <filter-name>leonFilter</filter-name>
        <filter-class>io.leon.web.LeonFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>module</param-name>
            <param-value>module.js</param-value>
        </init-param>
    </filter>

    
    <filter-mapping>
        <filter-name>leonFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
