
// links
@color1: #0e4592;

// input borders
@color2: #f1b23a;

// input background on focus
@color3: #FDFFBB;

#header {
	font: 14pt Verdana, Helvetica, Arial, sans-serif;
	color: #000000;
	background: @color1;
	margin: 0;
	padding: 0;
}