<script src="/leon/browser/charting/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.crosshair.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.fillbetween.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.image.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.navigate.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.selection.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.stack.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.symbol.min.js" type="text/javascript"></script>
<script src="/leon/browser/charting/flot/jquery.flot.threshold.min.js" type="text/javascript"></script>
