<link rel="stylesheet" href="/leon/browser/jquery.mobile-1.0rc1.min.css" />
<script src="/leon/browser/jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="/leon/browser/leon.js" type="text/javascript"></script>
<script src="/leon/browser/leon-shared.js" type="text/javascript"></script>
<script src="/leon/browser/leon-comet.js" type="text/javascript"></script>
<script src="/leon/browser/browser.js" type="text/javascript"></script>
<script src="/leon/browser/angular.js" ng:autobind type="text/javascript"></script>
<script src="/leon/browser/jquery.mobile-1.0rc1.min.js" type="text/javascript"></script>
<script src="/leon/browser/jquery-mobile-angular-adapter-1.0.2.min.js" type="text/javascript"></script>
