<html ng-app="leonApp">
<head>
	<title>Leon Suite</title>
	<script src="/leon/leon.js" type="text/javascript"></script>
	<script src="index.client.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/leon/browser/skin/basic/style.css"/>
	<link rel="stylesheet" href="/style.css"/>
</head>

<body ng-controller="MainController">

<div id="header">
	<span>Address book</span>
</div>

<div id="menu">
	<a ng-click="showList()">List</a> |
	<a ng-click="showEdit()">Add</a>
</div>

<div id="content">
	<ng-view></ng-view>
</div>

</body>
</html>
