
#header {
	font: 20pt Verdana, Helvetica, Arial, sans-serif;
	color: #ffffff;
	background: #143352;
	margin: 0px;
	padding: 10px;
	text-align: center;
	text-shadow: 0px 2px 3px #eeeeee;
}

#menu {
	font: 11pt Verdana, Helvetica, Arial, sans-serif;
	background: #ececec;
	margin: 0px;
	padding: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px #555555;
}

#content {
	padding: 10px;
}

.bold {
	font-weight: bold;
}

