{namespace leon.templates}

/**
 * Menu
 */
{template .menu}
  This is the Menu
{/template}

/**
 * Footer
 */
{template .footer}
  Footer
{/template}

/**
* default
* @param content The content of the file
*/
{template .default}
    <div id="menu">
	    {call .menu}
	    {/call}
	</div>
	<div>
	    {$content}
	</div>
	{call .footer}
	{/call}
{/template}