<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>sjs</servlet-name>
        <servlet-class>
            com.ww.sjs.SJSServlet
        </servlet-class>
        <init-param>
            <param-name>module</param-name>
            <param-value>com.ww.sjs.person.Config</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <!-- Uncomment if you want to use Servlet 3.0 Async Support
        -->
        <async-supported>true</async-supported>
        
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sjs</servlet-name>
        <url-pattern>/sjs/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/atmosphere/*</url-pattern>
    </servlet-mapping>

</web-app>

